// PRIMARY COLORS
$primaryColor: #fff020;
$primaryColorDark: #c8be00;
$primaryColorDark80Opacity: rgba(200, 190, 0, .75);
$primaryColorLight: #ffff61;

// SECONDARY COLORS
$secondaryColor: #424242;
$secondaryColorDark: #1b1b1b;
$secondaryColorDark80Opacity: rgba(27, 27, 27, .8);
$secondaryColorLight: #6d6d6d;

// TEXT COLORS
$textOnPrimary: #000000;
$textOnSecondary: #ffffff;
