@import './partials/color_palatte';
@import './partials/shadows';
@import './partials/fonts';


*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
}

@import './partials/login';