@import './partials/color_palatte';
@import './partials/shadows';
@import './partials/fonts';


*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

@import './partials/nav';
@import './partials/login';

// Backend
@import './partials/backend/admin-dashboard';
@import './partials/backend/restaurant-editor';